@page_footer: #fff;

// Amasty



//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .custom-top-links {
    ul {
      margin: 0px;
      padding: 0px;
      list-style: none;
      li {
        margin: 0 30px 0 0px !important;
        display: inline-block;

        p {
          margin: 0px;
          padding: 0px;
        }

      }
    }
  }
}

//
//  Mobile @screen__s do 639
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
  .custom-top-links {
    ul {
      li {
        display: inline-block;
      }
    }
  }

}


//
//  Mobile @screen__m  do 768
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
  .custom-top-links {
    ul {
      li {
        display: inline-block;
      }
    }
  }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .custom-top-links {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    gap: 30px;

    ul {
      li {

        display: inline-block;

        &.ilosc-1 {


        }

        &.ilosc-2 {


        }

        &.ilosc-3 {


        }

        &.ilosc-4 {


        }

        &.ilosc-5 {


        }
      }
    }
  }
}


//
//  Desktop large
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__xl) {
  .custom-top-links {
    ul {
      li {
        display: inline-block;

        &.ilosc-1 {

        }

        &.ilosc-2 {

        }

        &.ilosc-3 {

        }

        &.ilosc-4 {

        }

        &.ilosc-5 {

        }

      }
    }
  }
}
